.details {
    margin: 0;
    text-align: left;
}

.author {
    line-height: 1em;
    font-size: 40px;
    border: none;
}
.director {
    line-height: 1em;
    font-weight: 400;
    padding: 0;
    margin: 10px 0;
    display: block;
    font-size: 25px;
}
.date {
    display: block;
    font-size: 25px;
    line-height: 1em;
    font-weight: 400;
}
.split {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.description {
    flex-basis: 60%;
    margin-right: 30px;
}
.cast {
    display: flex;
    flex-flow: column nowrap;
}

@media only screen and (max-width: 600px) {
    .split {
        flex-flow: column nowrap;
    }
    .description {
        margin: 20px 0;
    }
}
