.knockout {
    background-color: white;
    color: var(--tkdBlack);
}

.season h3 {
    font-size: 40px;
}

.placeholder {
    /* background-color: turquoise; */
    width: 100%;
}
.showList {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.showContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 275px;
    background-color: var(--tkdLightGrey);
    color: var(--tkdBlack);
    margin: 10px;
    border-radius: var(--tkdBorderRadius);
    overflow: hidden;
    flex-basis: 30%;
}

.showDetails {
    flex-grow: 1;
    padding: 10px 30px;
}

.showTicket {
    width: 100%;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--tkdOrange);
}

.director {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 0;
}

.seasonButton {
    border-radius: 2px 2px 5px 5px;
    background-color: var(--tkdLightBlue);
    padding: 5px;
    border: none;
    color: white;
    margin: -20px 20px 20px;
}

@media only screen and (max-width: 1100px) {
    .showContainer {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .showContainer {
        flex-basis: 100%;
    }
}
