.donateGrid {
    display: flex;
    flex-flow: row wrap;
}
.donateGrid div {
    flex-basis: 20%;
    flex-grow: 3;
}

.donateGrid .logo {
    width: 100%;
    margin-top: 10px;
    align-self: center;
    max-width: 250px;
    /* border: 1px solid red; */
}

.donateCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    color: var(---tkdBlack);

    border: 1px solid var(--tkdBlue);
}

@media only screen and (max-width: 600px) {
    .donateGrid div {
        flex-basis: 100%;
    }
}
