:root {
    --tkdBlue: #2a2e40;
    --tkdBlack: #222;
    --tkdWidth: 1100px;
    --tdkMaxWidth: 1000px;
    --tkdPaleYellow: #eae2b7;
    --tkdGold: #fcbf49;
    --tkdOrange: #f77f00;
    --tkdRed: #d62828;
    --tkdLightGrey: rgb(235, 235, 235);
    --tkdPurple: rgb(110, 37, 104);
    --tkdLightBlue: #2ea3f2;
    --tkdGreen: #0fa60f;
    --tkdBorderRadius: 10px 10px 20px 20px;
}

.gold {
    background-color: var(--tkdGold);
    color: var(--tkdBlue);
}
.orange {
    background-color: var(--tkdOrange);
    color: white;
}
.red {
    background-color: var(--tkdRed);
    color: white;
}

h1 {
    border-bottom: 1px solid var(--tkdBlue);
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    line-height: 1.75em;
}

header {
    display: grid;
    grid-template-rows: 100% 100%;
}

html,
body {
    background-color: var(--tkdBlue);
    height: 100%;
}

.everything {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

main {
    width: 80%;
    height: 100%;
    max-width: var(--tkdWidth);
    /* background-color: transparent; */
    color: var(---tkdBlack);
    margin: 0 auto;
}

.container {
    overflow: hidden;
    width: 80%;
    height: 100%;
    max-width: var(--tkdWidth);

    /* background-color: transparent; */
    color: var(---tkdBlack);
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.icon {
    /* width: 20px; */
    background-size: 20px 20px;
}

.standardPage {
    width: 100%;
    background-color: var(--tkdGold);
    padding: 20px;
    color: white;
}

.card {
    margin-top: 20px;
    width: 100%;
    padding: 30px 70px 50px 70px;
    background-color: white;
    text-align: center;
}

.knockout {
    padding: 30px;
    margin: 20px;
    background-color: var(--tkdOrange);
    color: #ddd;
    border-radius: var(--tkdBorderRadius);
}

.knockoutWhite {
    padding: 30px;
    margin: 20px;
    background-color: white;
    color: var(--tkdBlack);
    border-radius: var(--tkdBorderRadius);
}
.knockoutBlank {
    padding: 30px;
    margin: 20px;
    color: var(--tkdBlack);
    border-radius: var(--tkdBorderRadius);
}
.cardBlank {
    margin-top: 20px;
    width: 100%;
    padding: 30px 70px 50px 70px;
    text-align: center;
}

.topElement {
    margin-top: 91px;
}
.button,
a {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .container {
        width: 100%;
    }
    .card,
    .cardBlank,
    .knockoutBlank,
    .knockoutWhite {
        padding: 10px;
    }
    h1 {
        line-height: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .standardPage {
        padding: 10px;
        font-size: 20px;
    }
}
