:root {
    --tkdBlue: #2a2e40;
    --tkdBlack: #222;
    --tkdWidth: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    display: grid;
    grid-template-rows: 100% 100%;
}

html,
body {
    background-color: var(--tkdBlue);
    height: 100%;
}

.everything {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

main {
    width: 80%;
    height: 100%;
    max-width: var(--tkdWidth);
    /* background-color: transparent; */
    color: var(---tkdBlack);
    margin: 0 auto;
}

.container {
    width: 80%;
    height: 100%;
    max-width: var(--tkdWidth);
    /* background-color: transparent; */
    color: var(---tkdBlack);
    margin: 0 auto;
}

li {
    list-style-type: none;
}
