.adContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 20px 0 0 0;
}

.adKnockout {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 20%;
    flex-grow: 1;
    overflow: hidden;
    border-radius: var(--tkdBorderRadius);
    margin: 0 10px 10px 0;
}

.adLevel {
    display: block;
    width: 100%;
    background-color: var(--tkdOrange);
    color: white;
    font-weight: 400;
    padding: 10px 0;
}
.adPrice {
    background-color: white;
    font-size: 60px;
    color: var(--tkdLightBlue);
    padding: 40px 0;
}
.adBenefits {
    padding: 40px;
    text-align: left;
}

.adBenefits li {
    margin: 0 0 20px 0;
}

.adBenefits li::before {
    content: '•';
    color: var(--tkdLightBlue);
    /* margin-right: -1px; */
    padding-right: 3px;
}

.adHeader {
    color: var(--tkdLightBlue);
    margin-top: 30px;
    border: none;
}
@media only screen and (max-width: 850px) {
    .adKnockout {
        flex-basis: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .adKnockout {
        flex-flow: column nowrap;
    }
}
