.supportContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 20px 0 0 0;
}

.sponsorKnockout {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 30%;
    flex-grow: 2;
    overflow: hidden;
    border-radius: var(--tkdBorderRadius);
    margin: 0 10px 20px 0;
    padding: 0;
}

.sponsorLevel {
    display: block;
    width: 100%;
    background-color: var(--tkdOrange);
    color: white;
    font-weight: 400;
    padding: 10px 0;
}
.sponsorPrice {
    text-align: center;
    background-color: white;
    font-size: 60px;
    color: var(--tkdLightBlue);
    padding: 40px 0;
    /* margin: 0 auto; */
}
.sponsorBenefits {
    /* border: 1px solid tomato; */
    display: block;
    text-align: left;
    padding: 40px;
}

.sponsorBenefits li {
    margin: 20px 0 20px 0;
}

.sponsorBenefits li::before {
    content: '•';
    color: var(--tkdLightBlue);
    /* margin-right: -1px; */
    padding-right: 3px;
}

.signUpButton {
    width: 80%;
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: var(--tkdGreen);
    font-size: 20px;
    border-radius: var(--tkdBorderRadius);
    border: none;
    color: white;
}
.signUpButton:hover {
    cursor: pointer;
}
@media only screen and (max-width: 850px) {
    .knockoutWhite {
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        line-height: 1em;
    }
    .supportContainer {
        flex-flow: column wrap;
    }
}
