.volunteers {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.formHeader {
    color: white;
    border-bottom: 1px solid white;
}

.vr-field input {
    text-align: left;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 20px;
}

.vr-field li {
    display: inline;
}

.volImage {
    width: 100%;
    height: 250px;
}

.smallKnockout {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 45%;
    border-radius: var(--tkdBorderRadius);
    overflow: hidden;
    margin: 10px;
}

.smallKnockout p {
    margin: 20px 0 0 0;
    text-align: left;
}

.content {
    padding: 20px;
}

.gold {
    background-color: var(--tkdGold);
    color: var(--tkdBlue);
}
.orange {
    background-color: var(--tkdOrange);
    color: white;
}
.red {
    background-color: var(--tkdRed);
    color: white;
}
