.callToActionButton {
    width: 100%;
    background-color: var(--tkdGreen);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.callToActionButton:hover {
    background-color: #93e528;
    cursor: pointer;
    transition: 0.25s ease-in;
}
