.callToActionButton {
    width: 100%;
    background-color: var(--tkdLightBlue);
    border: 1px solid var(--tkdLightBlue);
    color: white;
    padding: 10px;
    font-size: 20px;
    transition: 0.25s ease-in;
}

.callToActionButton:hover {
    background-color: white;
    color: var(--tkdLightBlue);
    cursor: pointer;
    transition: 0.25s ease-in;
}
