.contactBar {
    width: 100%;
    display: block;
    background-color: var(--tkdBlue);
    color: white;
}
.contactContainer {
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 80%;
    max-width: var(--tkdWidth);
    margin: 0 auto;
}

.contactList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    /* border: 1px solid tomato; */
}

.contactList li {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.iconButton {
    padding: 8px;
    display: flex;
    align-self: center;
    border: none;
    background-color: transparent;
}

.iconButton:hover {
    background-color: var(--tkdLightBlue);
    transition: 0.25s ease-in;
    cursor: pointer;
}

.hide {
    display: none;
}

.phoneNumber {
    display: block;
    /* border: 1px solid blue; */
}
.phoneIcon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .phoneNumber {
        color: tomato;
        display: none;
    }
    .contactContainer {
        width: 100%;
        padding: 0 10px;
    }
    .phoneIcon {
        display: flex;
    }
}
