.covidUpdate {
    margin-top: 20px;
    width: 100%;
    padding: 30px 70px 50px 70px;
    background-color: var(--tkdLightGrey);
    text-align: center;
}
.covidUpdate p {
    margin: 10px 0 0 0;
    line-height: 1.5em;
}

.covidUpdate h1 {
    border-bottom: 1px solid var(--tkdBlack);
}

.covidSolutions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.covidSolutions p {
    flex-basis: 40%;
    flex-grow: 2;
    padding: 30px;
    margin: 20px;
    background-color: var(--tkdBlue);
    color: #ddd;
    border-radius: var(--tkdBorderRadius);
}
