footer {
    width: 100%;
    color: #999;
    background-color: #222;
    padding: 40px;
}

.footerGrid {
    width: 100%;
    max-width: var(--tkdWidth);
    /* background-color: grey; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.address {
    display: block;
}

.listBullet {
    list-style-type: none;
}

.listBullet::before {
    content: '•';
    color: var(--tkdRed);
    /* margin-left: -1px; */
    padding-right: 3px;
}
a {
    color: #999;
    text-decoration: none; /* no underline */
    cursor: pointer;
}
