.desktopMenu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: space-between;
    width: 100%;
}

.desktopMenu button {
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: var(--tkdBlue);
    padding: 0 10px;
}
.desktopMenu button:hover {
    color: var(--tkdOrange);
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease;
    border-radius: 0 0 4px 4px;
}

.mobileMenu {
    width: 100%;
    display: none;
    flex-flow: column wrap;
    align-content: flex-end;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.mobileMenu button {
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: var(--tkdBlue);
    padding: 0 10px;
}
.mobileMenu button:hover {
    color: var(--tkdOrange);
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease;
    border-radius: 0 0 4px 4px;
}

@media only screen and (max-width: 850px) {
    .mobileMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .hidden {
        display: none;
        transition: 1s all ease-in;
    }
    .trueActive {
        display: flex;
    }
}
