.desktopMenu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: inherit;
    justify-content: flex-end;
}

.navLink {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    height: inherit;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: var(--tkdBlue);
    transition: 0.5s ease-in-out;
}
.navLink:hover {
    color: white;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    background-color: var(--tkdRed);
}

.mobileMenu {
    width: 100%;
    display: none;
    flex-flow: column wrap;
    align-content: flex-end;
    text-align: right;
    justify-content: space-between;
    width: 100%;
    /* disabled: true; */
}

.onPage {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    height: inherit;
    background-color: var(--tkdOrange);
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: white;
}

.mobileMenu button {
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    border: none;
    color: var(--tkdBlue);
    padding: 0 10px;
}

.Link {
    color: inherit;
}

.mobileMenu button:hover {
    color: white;
    text-align: right;
    cursor: pointer;
    width: 100%;
    transition: 0.25s ease-in-out;
    background-color: var(--tkdRed);
}

@media only screen and (max-width: 850px) {
    .mobileMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .hidden {
        display: none;
        transition: 1s all ease-in;
    }
    .trueActive {
        display: flex;
    }
}
